<div *ngIf="hero">
  <h2>{{hero.firstName | uppercase}} Details</h2>
  <form class="hero-form" [formGroup]="heroForm" (ngSubmit)="save()">
    <div class="hero-form__block">
      <label for="first-name">First name </label>
      <input id="first-name" type="text" formControlName="firstName">
      <span class="error" *ngIf="heroForm.get('firstName')?.hasError('required')">
        * First Name is required
      </span> 
      <span class="error" *ngIf="heroForm.get('firstName')?.hasError('minlength')">
        * First Name must be at least 3 characters long.
      </span>
    </div>

    <div class="hero-form__block">
      <label for="last-name">Last name </label>
      <input id="last-name" type="text" formControlName="lastName">
    </div>

    <div class="hero-form__block">
      <label for="gender">Gender </label>
      <label>
        <input type="radio" formControlName="gender" [value]="HeroGenderEnum.Female"> {{ HeroGenderEnum.Female }}
      </label>
      <label>
        <input type="radio" formControlName="gender" [value]="HeroGenderEnum.Male"> {{ HeroGenderEnum.Male }}
      </label>
    </div>

    <div class="hero-form__block">
      <label for="email">Email </label>
      <input id="email" type="text" formControlName="email">
      <span class="error" *ngIf="heroForm.get('email')?.hasError('email')">
        * Please provide a valid email address 
      </span> 
    </div>

    <div class="hero-form__block">
      <label for="city">City </label>
      <input id="city" type="text" formControlName="city">
    </div>
    <div class="hero-form__block">
      <label for="street">Street </label>
      <input id="street" type="text" formControlName="street">
    </div>

    <button class="hero-form__button" type="button" (click)="goBack()">back</button>
    <button class="hero-form__button" type="submit">save</button>
  </form>

</div>
