<div *ngIf="hero">
    <h2>{{hero.firstName | uppercase}} Details</h2>
  <form [formGroup]="heroForm" (ngSubmit)="save()">
    <div><span>id: </span>{{hero.id}}</div>

    <div>
      <label for="first-name">First name </label>
      <input id="first-name" type="text" formControlName="firstName">
      <span class="error" *ngIf="heroForm.get('firstName')?.hasError('required')">
        * First Name is required
      </span> 
      <span class="error" *ngIf="heroForm.get('firstName')?.hasError('minlength')">
        * First Name must be at least 3 characters long.
      </span>
    </div>

    <div>
      <label for="last-name">Last name </label>
      <input id="last-name" type="text" formControlName="lastName">
    </div>

    <div>
      <label for="age">Age </label>
      <input id="age" type="number" formControlName="age">
      <span class="error" *ngIf="heroForm.get('age')?.hasError('ageRange')">
        * Age should be in between 18 to 45 years
      </span>
    </div>

    <div>
      <label for="merried">Merried </label>
      <input id="merried" type="checkbox" formControlName="merried">
    </div>

    <div formGroupName="address">
      <p>Address</p>
      <div>
        <label for="city">City </label>
        <input id="city" type="text" formControlName="city">
      </div>
      <div>
        <label for="street">Street </label>
        <input id="street" type="text" formControlName="street">
      </div>
    </div>

    <div class="radio-group">
      <label for="gender">Gender </label>
      <label>
        <input type="radio" formControlName="gender" value="Female"> {{ HeroGenderEnum.Female }}
      </label>
      <label>
        <input type="radio" formControlName="gender" value="Male"> {{ HeroGenderEnum.Male }}
      </label>
    </div>

    <div>
      <label for="email">Email </label>
      <input id="email" type="text" formControlName="email">
      <span class="error" *ngIf="heroForm.get('email')?.hasError('email')">
        * Please provide a valid email address 
      </span> 
    </div>

    <button type="button" (click)="goBack()">back</button>
    <button type="submit">save</button>
  </form>

</div>
