<h2>Heroes of table</h2>
<table>
    <thead>
        <th *ngFor="let column of columnsConfig; index as i"
            [ngClass]="[column.hidden ? 'hidden' : '', 
                column.name !== sortByColumn.column ? '' : sortByColumn.desc ? 'sortDown' : 'sortUp']"
            (click)="sort(column.name)">
            {{ column.visibleName ?? column.name }}
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let hero of heroes; index as i">
            <td *ngFor="let column of columnsConfig"
                [ngClass]="column.hidden ? 'hidden' : ''">
                @if (column.type === ColumnTypeTable.Date) {
                    {{ hero[column.name] | date : 'dd.MM.yyyy'}}
                } @else {
                    {{ hero[column.name] }}
                }
            </td>
        </tr>
    </tbody>
</table>
