<h2>Heroes of table</h2>
<table class="heroes-table">
    <thead [formGroup]="contextFilterForm">
        <tr class="columns-block">
            <th></th>
            <th *ngFor="let column of columnsConfig; index as i"
                [ngClass]="[column.hidden ? 'hidden' : '']" >
                <div [ngClass]="[column.name !== sortByColumn.column || column.notSortable ? '' : sortByColumn.desc ? 'sortDown' : 'sortUp']"
                    (click)="!column.notSortable ? sort(column.name) : ''">
                    {{ column.visibleName ?? column.name }}
                </div>
            </th>
            <th>Action</th>
        </tr>
        <tr class="context-filter-block" formArrayName="filters">
            <th><input type="checkbox"  [checked]="isAllCheckBoxChecked()" (change)="toggleAllRows($event)"/></th>
            <th *ngFor="let filter of contextFilters; index as i">
                @if (!filter.hidden) {
                    <div [formGroupName]="i">
                        <input type="hidden" formControlName="columnName" [value]="filter.columnName">
                        <input type="hidden" formControlName="operation" [value]="filter.operation">
                        @if (filter.type === ContextFilterTypeTable.String) {
                            <input (keyup.enter)="onSubmitContextFilter()" type="text" formControlName="value" />
                        } @else if (filter.type === ContextFilterTypeTable.Date) {
                            <input (change)="onSubmitContextFilter()" type="date" value="" formControlName="value" />
                        } @else if (filter.type === ContextFilterTypeTable.Select) {
                            <mat-form-field>
                                <mat-label>Select an option</mat-label>
                                <mat-select formControlName="value" disableRipple (selectionChange)="onSubmitContextFilter()">
                                    <mat-option value="">None</mat-option>
                                    @for (option of filter.options; track option) {
                                        <mat-option [value]="option">{{ option }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        }
                    </div>
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="rows">
        <tr *ngFor="let hero of paginatedHeroes">
            <td><input type="checkbox" [(ngModel)]="hero.checked" (change)="toggleRowSelection(hero)"/></td>
            <td *ngFor="let column of columnsConfig"
                [ngClass]="column.hidden ? 'hidden' : ''">
                @if (column.type === ColumnTypeTable.Date) {
                    {{ getDate(hero[column.name]) | date : 'MM.dd.yyyy'}}
                } @else if (column.type === ColumnTypeTable.Custom) {
                    <ng-template [ngComponentOutlet]="column.component" [ngComponentOutletInputs]="{ value: hero[column.name] }" />
                } @else {
                    {{ hero[column.name] }}
                }
            </td>
            <td>
                <button class="rows__action" type="text" (click)="deleteHero(hero)">Delete</button>
                <button class="rows__action" 
                    type="text" 
                    uiSref="heroDetail" 
                    [uiParams]="{ id: hero.id }"  
                    uiSrefActive="active">
                        <span>Edit</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<mat-paginator class="paging" [length]="paging.totalItems" [pageSize]="paging.pageSize" [pageIndex]="paging.currentPage" (page)="goToPage($event.pageIndex)"></mat-paginator>
