<h2>My Heroes</h2>

<div class="test-output-block">
  <h3>Test component output properties </h3>
  <app-test-output-property (addItemEvent)="addItem($event)"/>
  <p>🐢 all the way down {{ items.length }}</p>
</div>

<form [formGroup]="addHeroForm" (ngSubmit)="addHero()" class="add-hero-block">
  <label for="firstName">Hero name </label>
  <input id="firstName" formControlName="firstName" class="control--firstName"/>
  <span class="error error--firstName" *ngIf="(firstName?.invalid && (firstName?.dirty || firstName?.touched)) && firstName?.hasError('required')">
    * First Name is required
  </span>

  <button type="submit" class="add-button">
    Add hero
  </button>
</form>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a uiSref="heroDetail" 
      [uiParams]="{ id: hero.id }"  
       uiSrefActive="active">
        <span class="name">{{hero.firstName}}</span>
    </a>
    <!--<a routerLink="/detail/{{ hero.id }}">
      <span class="name">{{hero.name}}</span>
    </a>-->
    <button type="button" class="delete" title="delete"
      (click)="delete(hero)">x</button>
  </li>
</ul>
