<h2>My Heroes</h2>

<form [formGroup]="addHeroForm" (ngSubmit)="addHero()" class="add-form">
  <label for="firstName">Hero name </label>
  <input id="firstName" formControlName="firstName" class="add-form__input"/>
  <span class="error error--firstName" *ngIf="(firstName?.invalid && (firstName?.dirty || firstName?.touched)) && firstName?.hasError('required')">
    * First Name is required
  </span>

  <button type="submit" class="add-form__button">
    Add hero
  </button>
</form>

<ul class="heroes">
  <li class="heroes__li" *ngFor="let hero of heroes">
    <a class="heroes__a" uiSref="heroDetail" 
      [uiParams]="{ id: hero.id }"  
       uiSrefActive="active">
        <span class="heroes__name">{{hero.firstName}}</span>
    </a>
    <button type="button" class="heroes__delete" title="delete"
      (click)="delete(hero)">x</button>
  </li>
</ul>
