@import '../variables.less';

.heroes {
  list-style-type: none;
  padding: 0;
  width: 15em;
}


.heroes__li {
  position: relative;
  cursor: pointer;
  display: flex;
  background-color: @whiteGreyColor;
  margin-bottom: @identAverage;
}

.heroes__li:hover {
  left: .1em;
}

.heroes__a {
  color: @darkBlueColor;
  text-decoration: none;
  margin: @identAverage;
  border-radius: @indentSmall - 1;
  display: block;
  width: 100%;
}

.heroes__delete {
  background-color: @whiteColor;
  color:  @greyColor;
  font-size: @fontSixeAverage;
  margin: 0;
  padding: 1px @identAverage 3px @identAverage;
}

.heroes__delete:hover {
  background-color: @greyColor;
  color: @whiteColor;
}

.add-form {
  border: 1px solid @greyColor;
  padding: @identBig;
  padding-bottom: 0;
}

.add-form__input {
  display: block;
  width: 100%;
  padding: @identAverage;
  margin: @identBig 0;
  box-sizing: border-box;
  margin-bottom: 0;
}

.add-form__button {
 padding: @identAverage @identAverage*2;
 font-size: @identBig;
 margin-bottom: @identBig*2;
 margin-top: @identBig;
}

.add-form__button:hover {
  color: @whiteColor;
  background-color: @blueColor;
}

.test-output-block {
  border: 1px solid @greyColor;
  margin-bottom: @identBig;
  padding-left: @identBig;
}

.error {
  color: @errorColor;
}

.error--firstName {
  display: block;
}