@import '../variables.less';

.search__label {
  display: block;
  font-weight: @fontWeightBold;
  font-size: @fontSixeAverage;
  margin-top: @identBig;
  margin-bottom: @identAverage;

}

.search__input {
  padding: @identAverage;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
}

.search__input:focus {
  outline: @blueColor auto 1px;
}

.result {
  margin-top: 0;
  padding-left: 0;
}

.result__li {
  list-style-type: none;
}

.result__link {
  border-bottom: 1px solid @borderColor;
  border-left: 1px solid @borderColor;
  border-right: 1px solid @borderColor;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  padding: @identAverage;
  box-sizing: border-box;
  text-decoration: none;
  color: @blackColor;
}

.result__link:hover {
  background-color: @blueColor;
  color: @whiteColor;
}
